.wheel {
    display: flex;
    justify-content: center;
}

.options {
    width: 300px;
    flex: 0 0 auto;
}

.optionBox {
    background: var(--TSbgSecondaryColor);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
    overflow: hidden;
    padding: 30px 16px;
    position: relative;
    z-index: 0;
}

.wheelBetBtn {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 992px) {
    .wheel {
        flex-direction: column-reverse;
        align-items: center;
    }

    .options {
        display: flex;
        flex-direction: column-reverse;

        &>button {
            margin-bottom: 20px;
        }
    }
}