:root {
    --TSbgColor: #0b0a20;
    --TSbgSecondaryColor: #121c33;
    --TSprimaryColor: #27b4e3;
    --TStextColor: #fff;
    --TStextColor2: #bebebe;
    --TSsecondaryTextColor: #8d8d9b;
    --TSprimaryGradient1: #34f3ff;
    --TSprimaryGradient2: #2194d5;
    --TSsecondaryGradient1: #7dbee9;
    --TSsecondaryGradient2: #467899;
    --TSgreenColor: #6ccf59;
    --RedColor: #ff4d4d;
    --TSborderGradientColor: #7a869d;
    --TSboxBorderColor: #5fe0ff;
    --TSboxBorderColor2: rgba(95, 224, 255, .3);
    --TSboxBgColor: #192a31;
    --TSboxBGColor2: #191d31;
    --TSboxRadialBgColor: rgba(189, 255, 243, .3);
    --TSPopupShadowColor: rgba(52, 242, 255, .35);
    --TSRouletteBgColor: #363278;
    --TSScrollBgColor: #555;
    --TSGameDrowResultColor: rgb(204, 89, 36);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

button {
    border: none;
    display: inline-block;
}

.ts-primary-button {
    background: linear-gradient(180deg, var(--TSprimaryGradient1) 0, var(--TSprimaryGradient2) 100%);
    box-shadow: 0 0 30px rgb(156 207 240 / 40%);
}

.ts-button {
    border-radius: 4px;
    color: var(--TStextColor);
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 10px 24px;
    text-align: center;
    transition: all .3s ease;
}

.large {
    font-size: 18px;
    line-height: 21px;
}

.disabled {
    cursor: not-allowed;
}

.backDrop {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.ts-label {
    color: var(--TSsecondaryTextColor);
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
}

.ts-input {
    padding-right: 40px;
}

.ts-input-icon {
    height: 20px;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 20px;

    & * {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}

.amount-input {
    flex: 1 1;
}

.ts-input-with-icon {
    position: relative;
}

.ts-input-wrapper {}

.amount-actions {
    display: flex;
    font-size: 20px;
    font-weight: 900;

    span {
        cursor: pointer;
        padding: 10px 16px;
        position: relative;

        &:not(:last-child):after {
            background: var(--TStextColor);
            content: "";
            height: 100%;
            position: absolute;
            right: -5px;
            top: 0;
            width: 1px;
        }
    }

    span:not(:last-child) {
        margin-right: 9px;
    }
}

.with-border {
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::before {
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, 0));
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -2;
    }

    &::after {
        background: inherit;
        border-radius: inherit;
        content: "";
        height: calc(100% - 2px);
        left: 1px;
        position: absolute;
        top: 1px;
        width: calc(100% - 2px);
        z-index: -1;
    }
}

.amount-box {
    display: flex;
    align-items: center;
}

.ts-input-wrapper .ts-input {
    background: var(--TSbgColor);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 60%);
    color: var(--TStextColor2);
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 18px;
    padding: 10px;
    width: 100%;
}